.gallery * {
    font-family: Nunito, sans-serif;
  }
  
  .gallery .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .gallery .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .gallery .mySwiper .swiper-pagination-bullet-active {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f49892;
    opacity: 1 !important;
  }
  
  .gallery .mySwiper .swiper-pagination-bullet {
    width: 25px;
    height: 4px;
    display: inline-block;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f49892;
  }
  
  .gallery .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
    max-width: 1490px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(2);
    flex-direction: column;
    align-items: center;
  }
  
  .gallery .responsive-container-block.bg {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    max-width: 1320px;
  }
  
  .gallery .text-blk.title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    color: #f49892;
    max-width: 1490px;
    width: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  
  .gallery .text-blk.heading {
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: 400;
    text-align: center;
    max-width: 480px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    width: 480px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery .container-block.card {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery .text-blk.card-text {
    width: 100%;
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 20px;
    line-height: 34px;
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 35px;
    padding-left: 15px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
  }
  
  .gallery .text-blk.name {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 27.28px;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .gallery .text-blk.desig {
    color: white;
    text-align: center;
    line-height: 21.82px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .gallery .responsive-container-block.card-cont {
    justify-content: space-evenly;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
  }
  
  .gallery .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .gallery .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .gallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 80px;
    margin-left: 0px;
    width: 32.5%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .gallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery .swiper-pagination.container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  
  .gallery .swiper-container.mySwiper {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 1490px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .gallery .swiper-slide.card-sel {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  }
  
  .gallery .responsive-container-block.img {
    min-height: 245px;
    background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/PM2.4.png");
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .gallery .text-blk.info {
    font-size: 20px;
    line-height: 27.28px;
    color: #999999;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 400px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .gallery .text-blk.date {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 25px;
    line-height: 34px;
    color: white;
    font-weight: 700;
    background-color: #f43b2f;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  .gallery .responsive-container-block.blue-cont {
    background-color: #f4fcff;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(-1);
    width: 50%;
    position: absolute;
    float: right;
    left: 0px;
    height: 100%;
    bottom: 0px;
    top: 0px;
  }
  
  .gallery .text-blk.desc {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 25px;
    line-height: 34.1px;
    color: #666666;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery #ipmmi {
    color: black;
  }
  
  .gallery .im {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: auto;
  }
  
  .gallery #iwcuv {
    color: black;
  }
  
  .gallery #itnqd {
    color: black;
  }
  
  .gallery #igv7i {
    color: black;
  }
  
  .gallery #iswt7 {
    color: black;
  }
  
  @media (max-width: 1024px) {
    .gallery .text-blk.title {
      width: 100%;
    }
  
    .gallery .text-blk.heading {
      width: 100%;
    }
  
    .gallery .text-blk.title {
      width: auto;
    }
  }
  
  @media (max-width: 768px) {
    .gallery .text-blk.card-text {
      width: 100%;
    }
  
    .gallery .text-blk.heading {
      font-size: 18px;
    }
  
    .gallery .text-blk.title {
      font-size: 32px;
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .gallery .text-blk.card-text {
      width: 100%;
    }
  
    .gallery .text-blk.heading {
      font-size: 16px;
      line-height: 26px;
    }
  
    .gallery .text-blk.title {
      font-size: 26px;
      line-height: 36px;
    }
  }